@import './variables.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100svh;
    display: grid;
    place-items: center;
    background-color: var(--red);
    color: var(--light);
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
}
