.settings-modal .settings-modal__time {
  padding: 2rem 3rem;
}

.settings-modal .settings-modal__time .settings-modal__time--inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  max-width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f0eff5;

  div {
    margin: 1rem 0;
    gap: 5px;
    display: flex;
    flex-direction: column;
    color: #939298;

    input {
      width: 100%;
      height: 4rem;
      border: none;
      background-color: #e3e1e9;
      padding: 1rem;
      border-radius: 1rem;
      font-size: 1.2rem;
      font-weight: bold;

      &:focus-visible {
        outline: none;
        box-shadow: inset 0 0 0 1px #939298;
      }
    }
  }
}
